/* line 1, ../../compass/sass/styles.scss */
body {
  background-color: #FEA008;
  color: #533602;
  font-family: 'Architects Daughter', cursive;
}

/* line 7, ../../compass/sass/styles.scss */
.navbar {
  background-color: #FDEDD0;
  margin: 0px;
}
/* line 11, ../../compass/sass/styles.scss */
.navbar li a {
  background-color: #FFC439;
  color: #533602;
  height: 50px;
}
/* line 17, ../../compass/sass/styles.scss */
.navbar .navbar-header {
  padding: 8px 15px;
}

/* line 23, ../../compass/sass/styles.scss */
#myCarousel {
  height: 500px;
}
/* line 26, ../../compass/sass/styles.scss */
#myCarousel img {
  width: 100%;
}
/* line 30, ../../compass/sass/styles.scss */
#myCarousel .carousel-caption {
  margin-bottom: 200px;
}
/* line 33, ../../compass/sass/styles.scss */
#myCarousel .carousel-caption h1 {
  font-size: 100px;
}
/* line 36, ../../compass/sass/styles.scss */
#myCarousel .carousel-caption h2 {
  font-size: 75px;
}

/* line 42, ../../compass/sass/styles.scss */
.intro {
  margin-top: 50px;
  background: rgba(253, 237, 208, 0.8);
}
/* line 46, ../../compass/sass/styles.scss */
.intro img {
  height: 75px;
}

/* line 52, ../../compass/sass/styles.scss */
#register, #sign_in {
  /* CSS used here will be applied after bootstrap.css */
}
/* line 54, ../../compass/sass/styles.scss */
#register .input-lg, #sign_in .input-lg {
  border-radius: 2px;
  background-color: #FDEDD0;
  color: #533602;
}
/* line 60, ../../compass/sass/styles.scss */
#register .alert, #sign_in .alert {
  border-radius: 2px;
}
/* line 64, ../../compass/sass/styles.scss */
#register .btn, #sign_in .btn {
  background-color: #6B330D;
}
/* line 68, ../../compass/sass/styles.scss */
#register img, #sign_in img {
  width: 150px;
}

/* line 73, ../../compass/sass/styles.scss */
#submit-post-form {
  background: rgba(253, 237, 208, 0.5);
  border-radius: 3px;
  color: #533602;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  height: 300px;
}
/* line 82, ../../compass/sass/styles.scss */
#submit-post-form textarea {
  height: 150px;
  width: 400px;
}
/* line 87, ../../compass/sass/styles.scss */
#submit-post-form button {
  margin-top: 20px;
}

/* line 92, ../../compass/sass/styles.scss */
.posting-text {
  background-color: #FDEDD0;
  border-radius: 3px;
  color: #533602;
  margin: 50px;
  padding: 20px;
  font-size: 15px;
}
/* line 100, ../../compass/sass/styles.scss */
.posting-text .posting-wrapper {
  vertical-align: top;
}
/* line 105, ../../compass/sass/styles.scss */
.posting-text .vote li {
  list-style: none;
  font-size: 20px;
}
