{% extends 'layout.html' %} {% block body %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/images/bees_on_honeycomb.png" style="width:100%" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Save the BEEzzzzzz</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/bee_closeup.png" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Bee species added to endangered list for first time</h2>
                    <!-- <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/worker_bees.png" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Bees placed on endangered species list -- a first in the US</h2>
                    <!-- <p>With "mobile-first" there is now only one percentage-based grid.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/bee_banner.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h2>The United States is on a mission to save some of its busiest workers: bees.</h2>
                    <!-- <p>With "mobile-first" there is now only one percentage-based grid.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/bee-hero.png" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Mankind will not survive the honeybees’ disappearance for more than five years.</h2>
                    <!-- <p>With "mobile-first" there is now only one percentage-based grid.</p>
                    <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- /.carousel -->
<div class="container-fluid intro">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Bees in trouble and agriculture decline</h2>
            <blockquote>
                <img src="/static/images/bee-hero.png">
                <p>Scientists have recently reported that mass extinctions of marine animals may soon be occurring at alarmingly rapid rates than previously projected due to pollution, rising water temperatures and loss of habitat. Many land species also face a similar fate for the same reasons. But perhaps the biggest foreboding danger of all facing humans is the loss of the global honeybee population. The consequence of a dying bee population impacts man at the highest levels on our food chain, posing an enormously grave threat to human survival. Since no other single animal species plays a more significant role in producing the fruits and vegetables that we humans commonly take for granted yet require near daily to stay alive, the greatest modern scientist Albert Einstein once prophetically remarked, <span>“Mankind will not survive the honeybees’ disappearance for more than five years.”</span></p>
                <footer>Article from
                    <cite title="Source Title">http://www.globalresearch.ca/death-and-extinction-of-the-bees</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>


<div class="col-sm-offset-3 col-sm-6">
	<form class="text-center" action="post_submit" method="POST" id="submit-post-form">
		<div class="row">
		<label>What can you say to save the bees?</label>
		</div>
		<div class="row">
		<textarea name="post_content" width="60" height="8"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Send Buzz</button>
	</form>
</div>

<div class="col-sm-8 col-sm-offset-2">
<div class="posting">
        {% for row in posts: %}
        <a href="/link_page/{{row[3]}}"></a>
            <div class="posting-text">
                <!-- <div class="posting-image">
                    <img src="static/images/{{row[2]}}">
                </div> -->
                <div class="posting-wrapper">
                    <p class="block-header">
                        {{row[8]}}
                    </p>
                    <h3 class="block-text">
                        {{row[2]}}
                    </h3>
                    <p class="block-text">
                    	{{row[3].strftime('%r - %m/%d/%y')}}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
	</div>
{% endblock %}
